body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

header {
  padding-inline: 40px;
  gap: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #007bff;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 8px 10px rgba(1, 59, 250, 0.5);
  margin-bottom: 30px;
}

header nav {
  width: 100%;
  max-width: 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav button {
  padding: 5px;
  border-radius: 8px;
  width: 80px;
}

header a {
  color: aliceblue;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}

.logout_btn {
  background-color: #d9534f;
  padding: 10px;
  font-weight: 500;
  cursor: pointer;
}

.logo_img {
  border-radius: 50px;
}

.home_main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 40px;
}

.home_nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.logout_conteiner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  width: 100%;
  max-width: 350px;
  padding: 25px;
  background-color: rgb(82, 245, 245);
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
  z-index: 20;
}

.logout_conteiner {
  font-size: 20px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.bnt_container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.bnt_container button {
  width: 80px;
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  color: black;
  font-weight: 600;
  transition: background-color 0.3s ease, color 0.3s ease;
  border: 1px solid black;
}

.bnt_container button:first-child {
  background: transparent;
}

.bnt_container button:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.7);
}

.bnt_container button:first-child:hover {
  background: rgba(255, 255, 255, 0.2);
}

.home_nav a {
  background: rgb(17, 106, 141);
  padding: 20px;
  width: 250px;
  border-radius: 8px;
  text-align: center;
  color: aliceblue;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  box-shadow: 2px 4px 2px black;
}

.register_main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.profile_main,
.chnage_btn {
  padding-inline: 30px;
}

.profile_main p {
  font-size: 20px;
}

.register_main form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Edit container css */
.chnage_btn {
  appearance: none;
  background-color: #e0dd0f;
  border: 3px solid #047cec;
  border-radius: 8px;
  box-sizing: border-box;
  color: #047cec;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 30px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 300px;
  will-change: transform;
  margin-left: 25px;
  margin-top: 20px;
}

.chnage_btn:disabled {
  pointer-events: none;
}

.chnage_btn:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.chnage_btn:active {
  box-shadow: none;
  transform: translateY(0);
}

.change_container {
  max-width: 260px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 25px;
  margin-top: 50px;
  padding: 20px;
  border: 1px solid rgb(4, 124, 236);
}

.w-100 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input_username input {
  width: 100%;
}

.main-profile {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  padding-inline: 10vw;
}

.containerProfileOrder {
  display: flex;
  flex-direction: column;
}
.order-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  padding: 5px;
  font-size: 15px;
}

.order-item {
  width: 100%;
  border: 1px solid #0056b3;
  padding-inline: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
}
.order-item p {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: center;
}

.profile-container,
.order-container-profile,
.orders_container {
  width: 100%;
  max-width: 500px;
  margin: 50px;
  padding: 20px;
  background: #ffff;
  border-radius: 10px;
  box-shadow: 2px 2px 4px 10px rgba(4, 124, 236, 0.3);
}

.order-container {
  max-width: 600px;
}

.profile-title {
  font-size: 24px;
  color: #333;
  margin-bottom: 15px;
}

.profile-info p {
  font-size: 18px;
  color: #555;
  margin: 20px 0;
}

.edit-btn {
  margin-top: 15px;
  padding: 10px 15px;
  background: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.edit-btn:hover {
  background: #0056b3;
}

.edit-container {
  padding-inline: 10px;
  margin-top: 20px;
  text-align: left;
}

.edit-container label {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  margin: 10px 0 5px;
  color: #444;
}

.edit-container input {
  width: 100%;
  max-width: 458px;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.save-btn {
  margin-top: 15px;
  padding: 10px 15px;
  background: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.save-btn:hover {
  background: #218838;
}

.loading,
.error {
  font-size: 18px;
  color: #d9534f;
  font-weight: bold;
  margin-top: 20px;
}

.order-title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #333;
}

.order-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  padding: 10px;
}

.order-image {
  width: 100%;
  max-width: 250px;
  height: auto;
  border-radius: 10px;
  margin-bottom: 15px;
}

.order-details {
  text-align: center;
}

.order-description {
  font-size: 20px;
  color: #555;
  margin-bottom: 25px;
}

.order-buttons {
  display: inline-block;
  padding: 12px 20px;
  font-size: 16px;
  font-weight: bold;
  background: #d63a3a;
  border-radius: 8px;
  transition: 0.3s ease-in-out;
}
.order-buttons a {
  text-decoration: none;
  color: white;
}

.order-buttons:hover {
  background: #ff6b6b;
}

/* NEWsadasdasdsa */

body {
  font-family: "Arial", sans-serif;
  background-color: #f4f7fb;
  color: #333;
}

.landing-container {
  max-width: 900px;
  margin: 30px auto;
  padding: 20px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 123, 255, 0.2);
}

.hero {
  text-align: center;
  margin-bottom: 30px;
}

.hero-img {
  width: 250px;
  height: auto;
  border-radius: 10px;
}

h1 {
  color: #333;
  font-size: 2rem;
}

h2 {
  color: #333;
  border-bottom: 2px solid #ddd;
  margin-bottom: 15px;
  padding-bottom: 5px;
}

section {
  margin-bottom: 30px;
}

.gallery {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 10px;
  gap: 10px;
}

.gallery img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.video-demo {
  text-align: center;
  margin-top: 20px;
}

.video-demo video {
  max-width: 100%;
  height: 300px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.how-it-works ol li {
  margin-bottom: 10px;
}

ul,
ol {
  padding-left: 20px;
}

.social-links a {
  display: inline-block;
  margin-right: 10px;
  color: #fff;
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 6px;
  transition: background-color 0.3s;
}

.social-links a img {
  width: 50px;
}

.social-links a:hover {
  background-color: #0056b3;
}

.final-call {
  text-align: center;
  font-weight: bold;
  margin-top: 20px;
  color: #007bff;
}

footer {
  margin-top: 50px;
  padding-inline: 40px;
}

.social_container {
  display: flex;
  justify-content: space-between;
}

.email {
  font-size: 16px;
}

@media (max-width: 920px) {
  .profile-container,
  .order-container-profile,
  .orders_container {
    margin: 30px;
    max-width: 330px;
  }

  .main-profile {
    padding-inline: 5vw;
  }

  .profile-info p {
    font-size: 16px;
  }
}

@media (max-width: 750px) {
  .containerProfileOrder {
    align-items: center;
  }
  .profile-container,
  .order-container-profile,
  .orders_container {
    margin: 40px 20px;
  }

  .main-profile {
    flex-direction: column;
    align-items: center;
    padding-inline: 5vw;
  }
}

@media (max-width: 700px) {
  header nav {
    max-width: 320px;
  }
  .social-links a img {
    width: 40px;
  }
}

@media (max-width: 450px) {
  .final-call {
    font-size: 14px;
  }
  .email {
    font-size: 14px;
  }
  footer {
    padding-inline: 20px;
  }

  header {
    justify-content: space-around;
  }
  .landing-container {
    border-radius: unset;
  }
  .social-links a img {
    width: 30px;
  }
  .logo_img {
    width: 60px;
  }

  .logout_conteiner {
    max-width: 250px;
  }
  header nav {
    max-width: 250px;
  }

  .gallery img:nth-child(1) {
    position: relative;
    right: 15%;
  }

  .gallery img:nth-child(2) {
    margin: 0 auto;
  }

  .gallery img:nth-child(3) {
    position: relative;
    left: 15%;
  }

  header a {
    font-size: 14px;
  }
  header {
    padding-inline: 15px;
  }
  .landing-container {
    margin: 0px auto;
  }
  .gallery {
    gap: 30px;
  }

  header {
    margin-bottom: 0px;
  }

  header nav button {
    font-size: 12px;
    width: 60px;
  }
  header nav {
    padding-inline: 10px;
    gap: 10px;
  }

  .order-page {
    padding: 20px !important;
  }
}
